.image-bg-div {
    background-image: url(../imgs/commonGames/nogames.png);
}

.g1 {
    background-image: url(../imgs/commonGames/dont-starve.jpg);
}

.g2 {
    background-image: url(../imgs/commonGames/dying-light2.jpg);
}

.g3 {
    background-image: url(../imgs/commonGames/gtasa.jpg);
}

.g4 {
    background-image: url(../imgs/commonGames/life-is-strange-remastered.jpg);
}

.g5 {
    background-image: url(../imgs/commonGames/sea-of-thieves.jpg);
}

.g6 {
    background-image: url(../imgs/commonGames/rocket-league-intro.jpg);
}

.g7 {
    background-image: url(../imgs/commonGames/six-siege.jpg);
}

.g8 {
    background-image: url(../imgs/commonGames/tom-clancy.jpg);
}

.g9 {
    background-image: url(../imgs/commonGames/naraka-intro.jpg);
}

.g10 {
    background-image: url(../imgs/commonGames/sifu.jpg);
}

.g11 {
    background-image: url(../imgs/commonGames/six-siege.jpg);
}

.g12 {
    background-image: url(../imgs/commonGames/gtasa.jpg);
}

.g13 {
    background-image: url(../imgs/commonGames/ghost-of-tsushima.png);
}

.g14 {
    background-image: url(../imgs/commonGames/farcry-primal.jpg);
}

.g15 {
    background-image: url(../imgs/commonGames/gtaV.jpg);
}

.g16 {
    background-image: url(../imgs/commonGames/hitman3.jpg);
}

.g17 {
    background-image: url(../imgs/commonGames/smite.jpg);
}

// wide cards

.wc1 {
    background-image: url(../imgs/commonGames/naraka-intro.jpg);
}

.wc2 {
    background-image: url(../imgs/commonGames/rocket-league-intro.jpg);
}

.wc3 {
    background-image: url(../imgs/commonGames/dying-light2.jpg);
}

.image-bg-div {
    background-size: cover;
    background-position: center;
}

//fix positions

.wc2 {
    background-position: center top;
}