.image-bg-div {
    background-image: url(../imgs/commonGames/nogames.png);
}

.g1 {
    background-image: url(../imgs/commonGames/dont-starve.jpg);
}

.g2 {
    background-image: url(../imgs/commonGames/dying-light2.jpg);
}

.g3 {
    background-image: url(../imgs/commonGames/gtasa.jpg);
}

.g4 {
    background-image: url(../imgs/commonGames/life-is-strange-remastered.jpg);
}

.g5 {
    background-image: url(../imgs/commonGames/sea-of-thieves.jpg);
}

.g6 {
    background-image: url(../imgs/commonGames/rocket-league-intro.jpg);
}

.g7 {
    background-image: url(../imgs/commonGames/six-siege.jpg);
}

.g8 {
    background-image: url(../imgs/commonGames/tom-clancy.jpg);
}

.g9 {
    background-image: url(../imgs/commonGames/naraka-intro.jpg);
}

.g10 {
    background-image: url(../imgs/commonGames/sifu.jpg);
}

.g11 {
    background-image: url(../imgs/commonGames/six-siege.jpg);
}

.g12 {
    background-image: url(../imgs/commonGames/gtasa.jpg);
}

.g13 {
    background-image: url(../imgs/commonGames/ghost-of-tsushima.png);
}

.g14 {
    background-image: url(../imgs/commonGames/farcry-primal.jpg);
}

.g15 {
    background-image: url(../imgs/commonGames/gtaV.jpg);
}

.g16 {
    background-image: url(../imgs/commonGames/hitman3.jpg);
}

.g17 {
    background-image: url(../imgs/commonGames/smite.jpg);
}

// wide cards

.wc1 {
    background-image: url(../imgs/commonGames/naraka-intro.jpg);
}

.wc2 {
    background-image: url(../imgs/commonGames/rocket-league-intro.jpg);
}

.wc3 {
    background-image: url(../imgs/commonGames/dying-light2.jpg);
}

.fg1 {
    background-image: url(../imgs/commonGames/valo.jpg);
}

.fg2 {
    background-image: url(../imgs/carousel/watch-dogs2.jpg);
}

.fg3 {
    background-image: url(../imgs/commonGames/epic-games.webp);
}

.ft1 {
    background-image: url(../imgs/commonGames/fortnitecover.webp);
}

.ft2 {
    background-image: url(../imgs/commonGames/fortnitelego.webp);
}

.ft3 {
    background-image: url(../imgs/commonGames/fortnitebattlepass.jpg);
}

// lists
// @for $i from 1 through 15 {
//     .list-image-#{$i} {
//         background-image: url(../imgs/commonGames/image-#{$i}.jpg); // Adjust the path and filename as needed
//     }
// }

.list-image-1 {
    background-image: url(../imgs/commonGames/valo.jpg);
}

.list-image-2 {
    background-image: url(../imgs/commonGames/hotwhees.jpg);
}

.list-image-3 {
    background-image: url(../imgs/carousel/controll.png);
}

.list-image-4 {
    background-image: url(../imgs/commonGames/naraka-intro.jpg);
}

.list-image-5 {
    background-image: url(../imgs/commonGames/gtaV.jpg);
}

.list-image-6 {
    background-image: url(../imgs/commonGames/gtasa.jpg);
}

.list-image-7 {
    background-image: url(../imgs/commonGames/farcry-primal.jpg);
}

.list-image-8 {
    background-image: url(../imgs/commonGames/tomb-rider.jpg);
}

.list-image-9 {
    background-image: url(../imgs/commonGames/sifu.jpg);
}

.list-image-10 {
    background-image: url(../imgs/commonGames/hitman3.jpg);
}

.list-image-11 {
    background-image: url(../imgs/commonGames/life-is-strange-remastered.jpg);
}

.list-image-12 {
    background-image: url(../imgs/commonGames/tom-clancy.jpg);
}

.list-image-13 {
    background-image: url(../imgs/commonGames/farcry-primal.jpg);
}

.list-image-14 {
    background-image: url(../imgs/commonGames/smite.jpg);
}

.list-image-15 {
    background-image: url(../imgs/commonGames/sea-of-thieves.jpg);
}

// double cards

.double-card-1 {
    background-image: url(../imgs/carousel/watch-dogs2.jpg);
}

.double-card-2 {
    background-image: url(../imgs/commonGames/farcry6-control.jpg);
}



.image-bg-div {
    background-size: cover;
    background-position: center;
}

//fix positions

.wc2 {
    background-position: center top;
}

.fg1 {
    background-position: center 10%;
}