main {
    padding: 2rem;
    max-width: 1400px;
    margin: auto;
}

.main-top {
    .game-title {
        font-size: 1.5rem;
    }
}

.hero {
    display: grid;
    grid-template-columns: 4fr 1fr;

    .carosel-container {
        display: flex;
        flex-direction: column;

        .carousel {
            .image-bg-div {
                width: 100%;
                aspect-ratio: 2/3;
                background-color: rgb(48, 48, 48);
                border-radius: 1rem;
            }
        }
    }
}