header {
    background-color: hsl(240, 8%, 10%);
    padding-inline: 1rem;
    height: 70px;

    .logo-section {
        padding-inline: .5rem;
        gap: .5rem;
        border-right: 1px solid rgba(255, 255, 255, 0.404);

        .logo-box {
            height: 30px;
            width: 30px;
            background: url('../imgs/jashandullat.jpg');
            background-size: cover;
        }

        .menu-toggle-btn {
            color: rgba(255, 255, 255, 0.623);
            transform: rotate(180deg);
            transition: all .4s;
        }

        .menu-toggle-btn:hover {
            transform: rotate(0deg);
            color: rgb(255, 255, 255);
        }

        .menu-toggle-btn.active {
            transform: translateY(10%) rotate(0deg);
        }
    }

    .store {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        margin-left: 1rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-inline-start: .7rem;

        .left-nav {
            gap: clamp(.5rem, 1.5vw, 2rem);

            .support,
            .distribute {
                opacity: .7;
            }
        }

        .right-nav {
            gap: clamp(.5rem, 1vw, 1rem);

            .language {
                position: relative;

                span {
                    color: rgba(255, 255, 255, 0.5);
                }

                .friendly-div {
                    position: absolute;
                    bottom: -3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: transparent;
                    height: 3rem;
                    width: 8rem;
                    display: none;
                    z-index: 2;
                }

                >ul {
                    position: absolute;
                    visibility: hidden;
                    left: 50%;
                    transform: translateX(-50%);
                    inset-block-start: 4rem;
                    z-index: 2;

                    background-color: hsl(240, 6%, 13%);
                    padding: 1rem;
                    width: 8rem;
                    border-radius: 2vh;
                    font-size: .9rem;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    li {
                        color: rgba(255, 255, 255, 0.5);
                        border-radius: .5rem;
                        padding: .5rem 1rem;
                        cursor: pointer;
                    }

                    li:hover {
                        background-color: hsl(240, 3%, 26%);
                        color: white;
                    }
                }

                ul:hover {
                    visibility: visible;
                }
            }

            .language:hover>ul {
                visibility: visible;
            }

            .language:hover>.friendly-div {
                display: block;
            }

            .language:hover span {
                color: white;
            }

            .user {
                height: 40px;
                aspect-ratio: 1;
                background-color: hsl(240, 4%, 20%);
                border-radius: 100vh;
                justify-content: center;
            }
        }


        @media screen and(max-width: 750px) {
            display: none;
            flex-direction: column;
            gap: 2rem;
            position: fixed;
            inset: 0%;
            top: 70px;
            background-color: rgb(44, 44, 44);
            z-index: 999;
            padding: 1rem;

            .left-nav {
                flex-direction: column;

                >li {
                    width: 100%;
                    border-radius: 1rem;
                    padding: .7rem;
                    background-color: rgb(0, 0, 0);
                    opacity: 1;
                }
            }

            .right-nav {
                margin-top: 1rem;
                display: flex;

                .language {
                    margin-left: auto;
                }
            }
        }
    }

    @media screen and(max-width: 750px) {
        nav.active {
            display: block;
        }
    }

    .toggle-btn {
        height: 40px;
        aspect-ratio: 1;
        background-image: url(../imgs/icons/menu.png);
        background-size: cover;
        background-color: transparent;
        outline: none;
        border: none;
        display: none;
        cursor: pointer;
        margin-left: auto;

        @media screen and(max-width: 750px) {
            display: block;
        }
    }

    .toggle-btn.active {
        background-image: url(../imgs/icons/close.png);
    }
}