.add-to-wishlist {
    display: none;
    height: 20px;
    aspect-ratio: 1;
    box-shadow: 0px 0px 2px 4px rgba(2, 2, 2, 0.274);
    border-radius: 100vh;
    cursor: pointer;
    margin-left: auto;
    margin-top: 4px;
    margin-right: 4px;
    transition: all 1s;
    background-color: rgb(0, 0, 0);

    @media screen and(max-width:600px) {
        display: block;
    }

    :hover {
        transform: scale(110%);
    }

    svg {
        fill: rgb(238, 238, 238);
    }
}

.warn-box {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(51, 51, 51);
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 999;

    p {
        position: relative;
        z-index: 99;
    }
}

.warn-box::after {
    content: "";
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(68, 68, 68);
    animation: cooldown 4s linear;
}

@keyframes cooldown {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.image-bg-div {
    width: 100%;
    background-color: rgb(73, 73, 73);
    border-radius: .5rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

main {

    position: relative;
    padding-inline: 7%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media screen and(max-width: 1200px) {
        padding-inline: 1rem;
    }

    @media screen and(max-width: 720px) {
        gap: 1rem;
    }

    .toggled-menu {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;

        display: none;
        grid-template-areas: "play create"
            "discover create";
        padding: 2rem;
        gap: 3.5rem;

        gap: clamp(1rem, 5vw, 3.5rem);

        background-color: hsl(240, 6%, 13%);
        border-radius: 1.5vh;

        >div>h2 {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: 600;
        }

        >div>ul {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            color: rgba(255, 255, 255, 0.473);
            font-size: .9rem;

            li {
                border-radius: .5rem;
                padding: .5rem 1rem;
                cursor: pointer;
            }

            li:hover {
                background-color: hsl(240, 3%, 26%);
                color: white;
            }
        }

        .play {
            grid-area: play;
        }

        .discover {
            grid-area: discover;
        }

        .create {
            grid-area: create;
        }

    }

    .toggled-menu.active {
        display: grid;
    }

    .search-container {
        max-width: 1430px;
        width: 80%;
        margin-inline: auto;
        height: 60px;
        align-items: center;
        gap: 1.5rem;
        margin-top: 3rem;

        @media screen and(max-width: 720px) {
            margin-top: 1rem;
        }

        .search-bar {
            background-color: hsl(0, 0%, 13%);
            border-radius: 100vw;
            height: 40px;
            max-width: 230px;
            padding: .5rem;
            gap: .5rem;

            span {
                font-size: 20px;
            }

            input {
                background-color: transparent;
                outline: none;
                border: none;
                color: white;
                font-family: poppins;
            }
        }

        .discover-menu {
            gap: 1.5rem;

            @media screen and(max-width: 720px) {
                display: none;
            }
        }

        .cart {
            margin-left: auto;

            >span {
                font-size: 25px;
            }
        }
    }

    .carousel-container {
        max-width: 1430px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 8fr 2fr;
        gap: 1rem;
        height: 35em;

        @media screen and(max-width: 1000px) {
            grid-template-columns: 1fr;
        }

        .carousel {
            position: relative;
            overflow: hidden;
            border-radius: 1.5rem;

            .carousel-inner {
                display: flex;
                height: 100%;

                .carousel-item-1 {
                    background: url(../imgs/carousel/controll.jpg);
                }

                .carousel-item-2 {
                    background: url(../imgs/carousel/genshin-impact.jpg);
                }

                .carousel-item-3 {
                    background: url(../imgs/carousel/watch-dogs2.jpg);
                }

                [class*="carousel-item"] {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center 0%;
                    backdrop-filter: brightness(0.8);
                    transform: translateX(20%);
                    transition: transform 0.5s ease;

                    display: none;
                    flex-direction: column;
                    align-items: start;
                    justify-content: end;
                    padding: 7%;

                    >:first-child {
                        opacity: .7;
                        margin-bottom: 2rem;
                    }

                    >:nth-child(2) {
                        font-weight: 600;
                        margin-bottom: .7rem;
                        opacity: .9;
                    }

                    >:nth-child(3) {
                        font-size: 1rem;
                        margin-bottom: 2rem;
                    }

                    .purchase-div {
                        align-items: center;
                        gap: 1rem;

                        .add-to-wishlist {
                            align-items: center;
                            gap: .5rem;
                            cursor: pointer;

                            >span {
                                font-size: 1rem;
                            }

                            >p {
                                font-size: .8rem;
                            }
                        }
                    }
                }

                [class*="carousel-item"].active {
                    display: flex;
                    transform: translateX(0%);
                    animation: slidein 0.3s ease forwards;
                }

                [class*="carousel-item"].hide {
                    animation: slideout 0.2s ease forwards;
                    animation-delay: 3.9s;
                }

                @keyframes slidein {
                    from {
                        transform: translateX(-50%);
                    }

                    to {
                        transform: translateX(0%);
                    }
                }

                @keyframes slideout {
                    from {
                        transform: translateX(0%);
                    }

                    to {
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .items-container {
            display: grid;
            // font-size: 1rem;
            gap: .3rem;
            grid-template-rows: repeat(5, 1fr);

            @media screen and(max-width: 1000px) {
                display: none;
            }


            [class*="item-box"] {
                display: grid;
                grid-template-columns: 2fr 5fr;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                cursor: pointer;
                border-radius: 1rem;
                position: relative;
                overflow: hidden;

                .fill-background {
                    position: absolute;
                    left: 0;
                    z-index: 0;
                    background: hsla(0, 0%, 48%, 0.452);
                    height: 100%;
                    width: 0%;
                }

                .fill-background.active {
                    animation: fillAnimation ease-out 4s;
                }

                @keyframes fillAnimation {
                    0% {
                        width: 0;
                    }

                    100% {
                        width: 100%;
                    }
                }

                [class*='item-image'] {
                    background-color: hsl(0, 0%, 15%);
                    height: 100%;
                    width: auto;
                    border-radius: .5rem;
                    background-size: cover;
                    position: relative;
                    z-index: 1;
                }

                .item-name {
                    position: relative;
                    z-index: 1;
                }
            }

            [class*="item-box"]:hover {
                background-color: hsl(0, 0%, 16%);
            }
        }
    }

    @media screen and (max-width: 1150px) {
        .search-container {
            width: 100%;
            // padding: 1rem;
        }

        .carousel-container {
            width: 100%;
            // padding: 1rem
        }
    }
}

// section scroll cards

.card-section-root {
    .section-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .section-title {
            font-size: 1.2rem;
            display: flex;
            align-items: center;
        }

        .buttons {
            display: flex;
            gap: 1rem;

            >div {
                height: 2.5rem;
                aspect-ratio: 1;
                cursor: pointer;

                svg {
                    fill: white;
                }
            }
        }
    }

    .item-view-slide-container {
        width: 100%;
        overflow: scroll;
        transition: scroll 2s ease-in-out;

        .items-container {
            width: fit-content;
            display: flex;
            transition: all 2s;

            .card {
                // background-color: green;
                border-radius: .5rem;
                overflow: hidden;
                margin-inline: 10px;
                cursor: pointer;

                .image-bg-div {
                    width: 100%;
                    aspect-ratio: 5 / 6;
                    background-color: rgb(73, 73, 73);
                    border-radius: .5rem;
                    overflow: hidden;
                    background-size: cover;
                    background-position: center;
                    transition: background-size 1s ease;
                    background-repeat: no-repeat;
                    position: relative;
                }

                .image-bg-div:hover::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.178);
                    pointer-events: none;
                }

                .content {
                    padding: 1rem 0rem;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    small {
                        text-transform: uppercase;
                        opacity: .7;
                        font-size: .7rem;
                    }

                    .pricing {
                        display: flex;
                        gap: clamp(0.1rem, 1vw, 1rem);
                        align-items: center;

                        @media screen and(max-width: 450px) {
                            button {
                                padding-inline: .5rem;
                                font-size: .8rem;
                            }
                        }

                        .original-price {
                            text-decoration: line-through;
                            opacity: .6;
                        }
                    }
                }

                @import './cards.scss'
            }
        }
    }

    .item-view-slide-container::-webkit-scrollbar {
        display: none;
    }
}


// wide cards section

.wide-cards-container {
    width: 100%;
    // background-color: antiquewhite;
    display: flex;
    gap: 2rem;

    .wide-card {
        // background-color: green;
        width: 100%;
        border-radius: .5rem;
        overflow: hidden;
        margin-inline: 10px;

        @media screen and(max-width: 900px) {
            min-width: 400px;
        }

        @media screen and(max-width: 600px) {
            min-width: 250px;
        }

        .image-bg-div {
            width: 100%;
            aspect-ratio: 6 / 3;
            background-color: rgb(73, 73, 73);
            border-radius: .5rem;
            overflow: hidden;
            background-size: cover;
            background-position: center;
        }

        .content {
            padding: 1rem 0rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            small {
                text-transform: uppercase;
                opacity: .7;
                font-size: .7rem;
            }

            .game-title {
                font-size: 1.2rem;
            }

            .pricing {
                display: flex;
                gap: 1rem;
                align-items: center;

                .original-price {
                    text-decoration: line-through;
                    opacity: .6;
                }
            }
        }

        @import './cards.scss'
    }
}

@media screen and(max-width: 900px) {
    .wide-cards-container {
        overflow: scroll;
    }

    .wide-cards-container::-webkit-scrollbar {
        display: none;
    }
}

// free section

.free-games-section {
    background-color: rgb(66, 66, 66);
    padding: 2rem;

    .section-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .section-title {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            fill: white;
        }

        >div {
            height: 40px;
            aspect-ratio: 1;
        }
    }

    >div {
        .wide-cards-container {
            .wide-card {
                @media screen and(max-width: 900px) {
                    min-width: unset;
                }

                @media screen and(max-width: 600px) {
                    min-width: unset;
                }

                .content {
                    padding-bottom: 0;

                    .game-description {
                        font-size: .9rem;
                        opacity: .8;
                    }
                }
            }
        }

        @media screen and(max-width: 900px) {
            .wide-cards-container {
                overflow: hidden;
            }
        }

        @media screen and(max-width: 720px) {
            .wide-cards-container {
                flex-direction: column;
            }
        }
    }

    .image-bg-div {
        display: flex;

        >div {
            min-height: 15%;
            width: 100%;
            background-color: rgba(2, 61, 255, 0.836);
            margin-top: auto;
            font-size: 1.2rem;
            display: grid;
            place-content: center;
        }

        .black-strip {
            background-color: rgba(0, 0, 0, 0.658);
        }
    }
}

// lists section

.lists-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: clamp(.7rem, 2vw, 1.5rem);
    overflow-x: auto;

    .list-container {
        padding-inline: 1rem;
        min-width: 270px;

        border-inline: 1px solid rgba(255, 255, 255, 0);

        .list-top {
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
        }

        button {
            margin-left: auto;
            font-size: .9rem;
            padding: .4rem;
            padding-inline: .7rem;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .item {
                display: grid;
                grid-template-columns: 1fr 3fr;
                gap: clamp(.7rem, 2vw, 1rem);
                padding: .4rem;
                border-radius: .7rem;
                cursor: pointer;

                .image-bg-div {
                    aspect-ratio: 2/3;
                }

                @import './cards.scss'

            }

            .item:hover {
                background-color: rgb(39, 39, 39);
            }
        }
    }

    .list-container:nth-child(2) {
        border-inline: 1px solid white;
    }
}

.lists-section::-webkit-scrollbar {
    display: none;
}

//  double card section 

.double-card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem, 2vw, 3rem);

    @media screen and(max-width: 720px) {
        grid-template-columns: 1fr;
    }

    .game-title {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .game-description {
        font-size: .9rem;
        opacity: .7;
    }

    .image-bg-div {
        aspect-ratio: 4/2;
    }

    @import './cards.scss'
}


// browse card section 
.browse-card {
    button {
        background-color: white;
        color: black;
        width: fit-content;
    }

    .content {
        .title {
            font-size: 1.3rem;
        }

        .description {
            opacity: .8;
        }

        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: auto;
        margin-left: 1rem;
    }

    @import './cards.scss'
}

// footer

footer {
    padding: clamp(1rem, 3vw, 2rem);
    background-color: rgb(51, 51, 51);
    margin-top: 1rem;

    .top {
        display: flex;
        gap: clamp(1rem, 3vw, 2rem);
        margin-bottom: 2rem;

        img {
            height: 30px;
            aspect-ratio: 1;
            cursor: pointer;
        }
    }

    .footer-body {
        .title {
            opacity: .7;
            margin-bottom: 1rem;
        }

        .lists {
            display: flex;
            gap: clamp(1rem, 3vw, 2rem);

            ul {
                display: flex;
                flex-direction: column;
                gap: .7rem;

                li {
                    cursor: pointer;
                }
            }
        }
    }

    .copyright {
        opacity: .7;
        font-size: .85rem;
    }

    .flex {
        gap: clamp(1rem, 3vw, 2rem);
        margin-top: 1rem;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.wishlist-menu {
    position: fixed;
    inset: 70px 0 0 0;
    background-color: black;
    z-index: 4;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .wishlist-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem;
        padding-inline: 1rem;
        border-radius: .5rem;
        background-color: rgb(59, 59, 59);
    }

    >button {
        margin-top: auto;
        margin-inline: auto;
        width: 100px
    }
}

@media screen and(max-width: 850px) {
    html {
        font-size: 14px;
    }
}

@media screen and(max-width: 450px) {
    html {
        font-size: 13px;
    }

    body {
        overflow-x: hidden;
    }
}