* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: hsl(60, 26%, 95%);
}

ul,
li {
    list-style-type: none;
}

body {
    background-color: hsl(0, 0%, 7%);
    color: hsl(60, 26%, 95%);
    font-family: poppins;
}

//utility
.flex {
    display: flex;
    align-items: center;
}

.btn {
    background-color: rgb(39, 118, 255);
    padding: .5rem;
    padding-inline: .8rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-secondary {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    padding-inline: 1.5rem;
    color: black;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.view-more-btn {
    background-color: transparent;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: .5rem;
    color: white;
    font-family: poppins;
    cursor: pointer;
}