body {
    background-color: hsl(0, 0%, 7%);
    color: hsl(60, 26%, 95%);
    font-family: poppins;
}

//utility
.flex {
    display: flex;
    align-items: center;
}

.btn {
    background-color: hsl(199, 100%, 69%);
    padding: .5rem;
    padding-inline: .8rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

header {
    background-color: hsl(240, 8%, 10%);
    padding-inline: 1rem;
    height: 70px;

    .logo-section {
        padding-inline: .5rem;
        gap: .5rem;
        border-right: 1px solid rgba(255, 255, 255, 0.404);

        .logo-box {
            height: 30px;
            width: 30px;
            background: url('../imgs/jashandullat.jpg');
            background-size: cover;
        }

        .material-symbols-outlined {
            color: rgba(255, 255, 255, 0.623);
            transform: rotate(180deg);
        }

        .material-symbols-outlined:hover {
            transition: all .4s;
            transform: translateY(10%);
            color: rgb(255, 255, 255);
        }
    }

    nav {
        justify-content: space-between;
        width: 100%;
        padding-inline-start: .7rem;

        .left-nav {
            gap: clamp(.5rem, 1.5vw, 2rem);

            .store {
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 600;
            }

            .support,
            .distribute {
                opacity: .7;
            }
        }

        .right-nav {
            gap: clamp(.5rem, 1vw, 1rem);

            .language {
                position: relative;

                span {
                    color: rgba(255, 255, 255, 0.5);
                }

                .friendly-div {
                    position: absolute;
                    bottom: -3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: transparent;
                    height: 3rem;
                    width: 8rem;
                    display: none;
                }

                >ul {
                    position: absolute;
                    visibility: hidden;
                    left: 50%;
                    transform: translateX(-50%);
                    inset-block-start: 4.25rem;
                    z-index: 2;

                    background-color: hsl(240, 6%, 13%);
                    padding: 1rem;
                    width: 8rem;
                    border-radius: 2vh;
                    font-size: .9rem;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    li {
                        color: rgba(255, 255, 255, 0.5);
                        border-radius: 1rem;
                        padding: .5rem 1rem;
                        cursor: pointer;
                    }

                    li:hover {
                        background-color: hsl(240, 3%, 26%);
                        color: white;
                    }
                }

                ul:hover {
                    visibility: visible;
                }
            }

            .language:hover>ul {
                visibility: visible;
            }

            .language:hover>.friendly-div {
                display: block;
            }

            .language:hover span {
                color: white;
            }

            .user {
                height: 40px;
                aspect-ratio: 1;
                background-color: hsl(240, 4%, 20%);
                border-radius: 100vh;
                justify-content: center;
            }
        }
    }
}

main {

    .search-container {
        max-width: 1430px;
        width: 80%;
        margin-inline: auto;
        height: 100px;
        align-items: center;
        gap: 1.5rem;

        .search-bar {
            background-color: hsl(0, 0%, 13%);
            border-radius: 100vw;
            height: 40px;
            max-width: 230px;
            padding: .5rem;
            gap: .5rem;

            span {
                font-size: 20px;
            }

            input {
                background-color: transparent;
                outline: none;
                border: none;
                color: white;
                font-family: poppins;
            }
        }

        .discover-menu {
            gap: 1.5rem;
        }

        .cart {
            margin-left: auto;

            >span {
                font-size: 25px;
            }
        }
    }

    .carousel-container {
        max-width: 1430px;
        width: 80%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 8fr 2fr;
        gap: 1rem;
        font-size: 1vw;
        height: 35em;

        .carousel {
            position: relative;
            overflow: hidden;
            border-radius: 1.5rem;

            .carousel-inner {
                display: flex;
                height: 100%;

                .carousel-item-1 {
                    background: url(../imgs/carousel/controll.png);
                }

                .carousel-item-2 {
                    background: url(../imgs/carousel/genshin-impact.jpg);
                }

                .carousel-item-3 {
                    background: url(../imgs/carousel/watch-dogs2.jpg);
                }

                [class*="carousel-item"] {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    display: none;
                    transform: translateX(20%);
                    transition: transform 0.5s ease;
                }

                [class*="carousel-item"].active {
                    display: block;
                    transform: translateX(0%);
                    animation: slidein 0.3s ease forwards;
                }

                [class*="carousel-item"].hide {
                    animation: slideout 0.2s ease forwards;
                    animation-delay: 3.9s;
                }

                @keyframes slidein {
                    from {
                        transform: translateX(-50%);
                    }

                    to {
                        transform: translateX(0%);
                    }
                }

                @keyframes slideout {
                    from {
                        transform: translateX(0%);
                    }

                    to {
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .items-container {
            display: grid;
            font-size: 1rem;
            gap: .3rem;
            grid-template-rows: repeat(5, 1fr);

            [class*="item-box"] {
                display: grid;
                grid-template-columns: 2fr 5fr;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                cursor: pointer;
                border-radius: 2vh;
                position: relative;
                overflow: hidden;

                .fill-background {
                    position: absolute;
                    left: 0;
                    z-index: 0;
                    background: hsla(0, 0%, 48%, 0.452);
                    height: 100%;
                    width: 0%;
                }

                .fill-background.active {
                    animation: fillAnimation ease-out 4s;
                }

                @keyframes fillAnimation {
                    0% {
                        width: 0;
                    }

                    100% {
                        width: 100%;
                    }
                }

                [class*='item-image'] {
                    background-color: hsl(0, 0%, 15%);
                    height: 100%;
                    width: auto;
                    border-radius: 1vh;
                    background-size: cover;
                    position: relative;
                    z-index: 1;
                }

                .item-name {
                    position: relative;
                    z-index: 1;
                }
            }

            [class*="item-box"]:hover {
                background-color: hsl(0, 0%, 16%);
            }
        }
    }
}