body {
    // background-color: red;
    color: hsl(60, 26%, 95%);
    font-family: poppins;
}

//utility
.flex {
    display: flex;
    align-items: center;
}

.btn {
    background-color: hsl(199, 100%, 69%);
    padding: .5rem;
    padding-inline: .8rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

header {
    background-color: hsl(240, 8%, 10%);
    padding-inline: 1rem;
    height: 70px;

    .logo-section {
        padding-inline: .5rem;
        gap: .5rem;
        border-right: 1px solid rgba(255, 255, 255, 0.404);

        .logo-box {
            height: 30px;
            width: 30px;
            background: url('../imgs/jashandullat.jpg');
            background-size: cover;
        }
    }

    nav {
        justify-content: space-between;
        width: 100%;
        padding-inline-start: .7rem;

        .left-nav {
            gap: clamp(.5rem, 1.5vw, 2rem);

            .store {
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 600;
            }

            .support,
            .distribute {
                opacity: .7;
            }
        }

        .right-nav {
            gap: clamp(.5rem, 1vw, 1rem);

            .user {
                height: 40px;
                aspect-ratio: 1;
                background-color: hsl(240, 4%, 20%);
                border-radius: 100vh;
                justify-content: center;
            }
        }
    }
}

main {
    background-color: hsl(0, 0%, 7%);
}
